.Rproj.user
.Rhistory
.RData
.Ruserdata

.DS_Store

config.yml

output*/
report*/

*.zip

*.md
*.html
*.pdf
*.log
*.tex

*.doc
*.docx
~$*.doc
~$*.docx

*.sqlite
*.sqlite3


~$*.xls
~$*.xlsx

Exported Items.bib
